@import url(http://fonts.googleapis.com/css?family=Exo+2:400,300,100,700);
@import url(http://fonts.googleapis.com/css?family=Rokkitt);
body {
  font-family: 'Exo 2', sans-serif;
  background-image: url("../img/bg.gif"); }

div#picture {
  position: absolute;
  top: 60px;
  width: 100%;
  text-align: center;
  z-index: 1000;
  max-height: 290px; }
  div#picture img {
    width: 316px;
    height: 316px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 1500; }
    div#picture img:hover {
      -webkit-filter: grayscale(100%); }

div#title {
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  color: white;
  z-index: 900;
  text-transform: uppercase;
  font-weight: 300; }

div.triangle-top {
  border-top: 5px solid #ffcf01;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  width: 0px;
  height: 0px; }

div.triangle-bottom {
  border-bottom: 5px solid #ffcf01;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  width: 0px;
  height: 0px; }

div#pointer-top {
  position: absolute;
  top: 350px;
  left: 0px;
  z-index: 1300; }

div#pointer-bottom {
  position: absolute;
  top: 395px;
  left: 0px;
  z-index: 1300; }

div#header {
  z-index: 500; }
  div#header div#name,
  div#header div#surname {
    height: 350px;
    background-color: #ffcf01;
    color: white;
    text-transform: uppercase; }
    div#header div#name h1,
    div#header div#surname h1 {
      line-height: 350px;
      margin: 0px;
      padding: 20px;
      font-weight: 100; }
  div#header div#surname {
    background-color: #f3c402;
    text-align: right; }

div#menu {
  border-bottom: 1px solid #ffcf01;
  padding: 10px;
  position: relative;
  background-color: white; }
  div#menu ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px; }
    div#menu ul li {
      display: inline-block;
      padding: 0px;
      margin: 0px; }
      div#menu ul li a {
        text-transform: uppercase;
        font-size: 1.5em;
        font-weight: 300;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease;
        padding: 0px 10px; }
        div#menu ul li a:hover {
          text-decoration: none;
          background-color: #f3c402;
          color: #f1f1f1; }
        div#menu ul li a#link-work {
          position: absolute;
          left: 20px;
          top: 0px; }
        div#menu ul li a#link-about {
          position: absolute;
          left: 25%;
          top: 0px; }
        div#menu ul li a#link-contact {
          position: absolute;
          left: 65%;
          top: 0px; }
        div#menu ul li a#link-lang {
          position: absolute;
          right: 20px;
          top: 0px; }

div#developer {
  text-align: center; }
  div#developer h1 {
    text-transform: uppercase;
    color: #ffcf01; }

div#latest-works h1 {
  color: #222;
  text-transform: uppercase;
  font-size: 30px; }
  div#latest-works h1 span.first-word {
    color: #ffcf01; }

div.work {
  background-color: #f1f1f1;
  border: 1px solid #ffcf01;
  overflow: hidden;
  margin-bottom: 15px; }
  div.work:last-child {
    margin-bottom: 0px; }
  div.work div.image {
    text-align: left;
    padding: 0px;
    margin: 0px; }
    div.work div.image img {
      cursor: pointer;
      border-right: 1px solid #ffcf01; }
    div.work div.image:hover img.hover {
      top: 0px; }
    div.work div.image img.hover {
      position: absolute;
      left: 0px;
      top: 300px;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      transition: all 0.5s ease; }
  div.work div.description h2 {
    margin: 0px;
    margin-top: 5px;
    text-transform: uppercase;
    font-weight: 100; }
  div.work div.description h3 {
    color: #333;
    padding: 0px;
    margin: 7px 0px;
    font-weight: 300; }
  div.work div.description p {
    font-size: 15px; }
  div.work div.description p.technologies {
    font-size: 14px;
    color: #555;
    margin: 2px; }
  div.work div.description p.preview {
    color: #666;
    font-size: 14px; }
    div.work div.description p.preview a {
      font-weight: 600;
      color: #f3c402; }
  div.work div.description div.text {
    font-family: 'Rokkitt', serif;
    max-height: 120px;
    overflow: hidden; }
    div.work div.description div.text p {
      font-size: 18px; }

div#projects h1 {
  font-size: 30px;
  text-transform: uppercase; }
  div#projects h1 span.first-word {
    color: #ffcf01; }
div#projects div.project {
  border: 1px solid #ffcf01;
  border-left: 5px solid #ffcf01;
  border-bottom: none;
  height: 70px;
  background-color: white; }
  div#projects div.project:last-child {
    border-bottom: 1px solid #ffcf01; }
  div#projects div.project div.name {
    text-transform: uppercase;
    font-size: 18px; }
    div#projects div.project div.name p {
      -webkit-transition: all 0.25s ease;
      -moz-transition: all 0.25s ease;
      -o-transition: all 0.25s ease;
      -ms-transition: all 0.25s ease;
      transition: all 0.25s ease;
      margin-top: 20px; }
  div#projects div.project div.description {
    font-family: 'Rokkitt', serif;
    font-size: 16px;
    margin-top: 12px; }
  div#projects div.project:hover {
    background-color: #f1f1f1; }
    div#projects div.project:hover div.name p {
      padding-left: 10px; }

div#footer {
  background-color: #222;
  color: #f1f1f1;
  text-align: center;
  padding: 10px; }

div#footer-menu {
  margin-top: 30px;
  text-align: left;
  background-color: #333;
  padding: 20px; }
  div#footer-menu ul {
    padding: 0px;
    margin: 0px; }
    div#footer-menu ul li {
      padding: 0px;
      margin: 0px 10px;
      display: inline-block; }
      div#footer-menu ul li a {
        text-transform: uppercase; }
  div#footer-menu div#footer-options {
    color: white;
    text-align: right; }
    div#footer-menu div#footer-options div.triangle-bottom {
      display: inline-block; }
      div#footer-menu div#footer-options div.triangle-bottom:hover {
        opacity: 0.7; }

div#about h1 {
  text-transform: uppercase;
  font-size: 30px; }
  div#about h1 span.first-word {
    color: #ffcf01; }
div#about ul {
  list-style: none;
  padding: 0px;
  margin: 10px 0px;
  color: #555; }
  div#about ul li {
    font-weight: 300; }
    div#about ul li span {
      font-weight: 400;
      display: inline-block;
      width: 100px; }
div#about div.text {
  font-family: 'Rokkitt', serif; }
  div#about div.text p {
    font-size: 18px; }

div#contact h1 {
  text-transform: uppercase;
  font-size: 30px; }
  div#contact h1 span.first-word {
    color: #ffcf01; }
div#contact p {
  font-family: 'Rokkitt', serif;
  font-size: 18px; }
div#contact ul {
  list-style: none;
  padding: 0px;
  margin: 0px; }
  div#contact ul li {
    padding: 3px; }
    div#contact ul li a {
      color: #555; }
