body
{
    border-top: 30px solid #444;
}
body,
h1,
h2,
h3,
h4,
h5
{
    font-family: source-sans-pro, sans-serif;
}
.header
{
    margin-top: 50px;

    text-align: center;
}
.header img
{
    box-sizing: border-box;
    width: 150px;
    height: auto;

    border: 8px inset #b25fbb;
    border-radius: 75px;
}
.header h1
{
    font-size: 2.5em;
    font-weight: 900;

    letter-spacing: .015em;
    text-transform: uppercase;

    color: #444;
}
.header p
{
    font-size: 1.5em;
    font-weight: 200;

    margin-bottom: 1em;
}
.header ul
{
    margin: 0;
    padding: 0;
}
.header ul li
{
    font-size: .9em;

    display: inline-block;

    padding: 3px 5px;

    color: #f1f1f1;
    background-color: #444;
}
.availability
{
    padding: 10px;
}
.availability .lantern
{
    display: inline-block;

    width: 12px;
    height: 12px;
    margin-right: 5px;

    content: ' ';

    border-radius: 6px;
}
.availability .green.lantern
{
    background-color: #6c6;
}
.availability .red.lantern
{
    background-color: #e37171;
}
.article
{
    margin-top: 50px;
    margin-bottom: 30px;
}
.article img
{
    display: block;

    margin: auto;
}
.article h2
{
    font-size: 1.7em;
    font-weight: 900;

    padding: 10px;

    text-align: center;
    text-transform: uppercase;

    color: #444;
}
.article .project
{
    font-size: 1.1em;

    margin: 20px 0 60px;
}
.article .project .title
{
    font-weight: 900;

    text-transform: uppercase;
}
.article .project .button
{
    font-size: .85em;

    display: inline-block;
    float: right;

    margin-top: 15px;
    padding: 4px 10px;

    color: #f1f1f1;
    background-color: #b25fbb;
}
.contact h3
{
    font-weight: 900;

    letter-spacing: .05em;
    text-transform: uppercase;
}
.contact ul
{
    margin-top: 20px;
}
.contact .title
{
    font-weight: 900;

    display: inline-block;

    width: 100px;
    margin-right: 10px;

    letter-spacing: .05em;
    text-transform: uppercase;
}
footer
{
    margin-top: 30px;
    padding: 20px;

    text-align: center;
}
