$yellow: #FFCF01;
$dark-yellow: #F3C402;

@mixin transition($dur, $fn) {
     -webkit-transition: all $dur $fn;
     -moz-transition: all $dur $fn;
       -o-transition: all $dur $fn;
      -ms-transition: all $dur $fn;
          transition: all $dur $fn;
}

@import url(http://fonts.googleapis.com/css?family=Exo+2:400,300,100,700);
@import url(http://fonts.googleapis.com/css?family=Rokkitt);

body {
    font-family: 'Exo 2', sans-serif;
    background-image: url('../img/bg.gif');
}

div#picture {
    position: absolute;
    top: 60px;
    width: 100%;
    text-align: center;
    z-index: 1000;
    max-height: 290px;

    img {
        width: 316px;
        height: 316px;
        @include transition(0.5s, ease);
        z-index: 1500;

        &:hover {
            -webkit-filter: grayscale(100%);
        }
    }
}

div#title {
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    color: white;
    z-index: 900;
    text-transform: uppercase;
    font-weight: 300;
}

div.triangle-top {
    border-top: 5px solid $yellow;
    border-left: 5px solid transparent;
	border-right: 5px solid transparent;
    width: 0px;
    height: 0px;
}

div.triangle-bottom {
    border-bottom: 5px solid $yellow;
    border-left: 5px solid transparent;
	border-right: 5px solid transparent;
    width: 0px;
    height: 0px;
}


div#pointer-top {
    position: absolute;
    top: 350px;
    left: 0px;
    z-index: 1300;
}

div#pointer-bottom {
    position: absolute;
    top: 395px;
    left: 0px;
    z-index: 1300;
}

div#header {
    z-index: 500;

    div#name,
    div#surname {
        height: 350px;
        background-color: $yellow;
        color: white;
        text-transform: uppercase;

        h1 {
            line-height: 350px;
            margin: 0px;
            padding: 20px;
            font-weight: 100;
        }
    }

    div#surname {
        background-color: $dark-yellow;
        text-align: right;
    }
}

div#menu {
    border-bottom: 1px solid $yellow;
    padding: 10px;
    position: relative;
    background-color: white;

    ul {
        list-style: none;
        padding: 0px;
        margin: 0px;
        margin-bottom: 10px;

        li {
            display: inline-block;
            padding: 0px;
            margin: 0px;

            a {
                text-transform: uppercase;
                font-size: 1.5em;
                font-weight: 300;
                @include transition(0.3s, ease);
                padding: 0px 10px;

                &:hover {
                    text-decoration: none;
                    background-color: $dark-yellow;
                    color: #f1f1f1;
                }

                &#link-work {
                    position: absolute;
                    left: 20px;
                    top: 0px;
                }

                &#link-about {
                    position: absolute;
                    left: 25%;
                    top: 0px;
                }

                &#link-contact {
                    position: absolute;
                    left: 65%;
                    top: 0px;
                }

                &#link-lang {
                    position: absolute;
                    right: 20px;
                    top: 0px;
                }
            }
        }
    }
}

div#developer {
    text-align: center;

    h1 {
        text-transform: uppercase;
        color: $yellow;
    }
}

div#latest-works {
    h1 {
        color: #222;
        text-transform: uppercase;
        font-size: 30px;

        span.first-word {
            color: $yellow;
        }
    }
}

div.work {
    background-color: #f1f1f1;
    border: 1px solid $yellow;
    overflow: hidden;
    margin-bottom: 15px;

    &:last-child {
        margin-bottom: 0px;
    }

    div.image {
        text-align: left;
        padding: 0px;
        margin: 0px;

        img {
            cursor: pointer;
            border-right: 1px solid $yellow;
        }

        &:hover {
            img.hover {
                top: 0px;
            }
        }

        img.hover {
            position: absolute;
            left: 0px;
            top: 300px;

            @include transition(0.5s, ease);
        }
    }

    div.description {
        h2 {
            margin: 0px;
            margin-top: 5px;
            text-transform: uppercase;
            font-weight: 100;
        }

        h3 {
            color: #333;
            padding: 0px;
            margin: 7px 0px;
            font-weight: 300;
        }

        p {
            font-size: 15px;
        }

        p.technologies {
            font-size: 14px;
            color: #555;
            margin: 2px;
        }

        p.preview {
            color: #666;
            font-size: 14px;

            a {
                font-weight: 600;
                color: $dark-yellow;
            }
        }

        div.text {
            font-family: 'Rokkitt', serif;
            max-height: 120px;
            overflow: hidden;

            p {
                font-size: 18px;
            }
        }
    }
}

div#projects {
    h1 {
        font-size: 30px;
        text-transform: uppercase;

        span.first-word {
            color: $yellow;
        }
    }

    div.project {
        border: 1px solid $yellow;
        border-left: 5px solid $yellow;
        border-bottom: none;
        height: 70px;
        background-color: white;

        &:last-child {
            border-bottom: 1px solid $yellow;
        }

        div.name {
            text-transform: uppercase;
            font-size: 18px;

            p {
                @include transition(0.25s, ease);
                margin-top: 20px;
            }
        }

        div.description {
            font-family: 'Rokkitt', serif;
            font-size: 16px;
            margin-top: 12px;
        }

        &:hover {
            background-color: #f1f1f1;

            div.name {
                p {
                    padding-left: 10px;
                }
            }
        }
    }
}

div#footer {
    background-color: #222;
    color: #f1f1f1;
    text-align: center;
    padding: 10px;
}

div#footer-menu {
    margin-top: 30px;
    text-align: left;
    background-color: #333;
    padding: 20px;

    ul {
        padding: 0px;
        margin: 0px;

        li {
            padding: 0px;
            margin: 0px 10px;
            display: inline-block;

            a {
                text-transform: uppercase;
            }
        }
    }

    div#footer-options {
        color: white;
        text-align: right;

        div.triangle-bottom {
            display: inline-block;

            &:hover {
                opacity: 0.7;
            }
        }
    }
}

div#about {
    h1 {
        text-transform: uppercase;
        font-size: 30px;

        span.first-word {
            color: $yellow;
        }
    }

    ul {
        list-style: none;
        padding: 0px;
        margin: 10px 0px;
        color: #555;

        li {
            font-weight: 300;

            span {
                font-weight: 400;
                display: inline-block;
                width: 100px;
            }
        }
    }

    div.text {
        font-family: 'Rokkitt', serif;

        p {
            font-size: 18px;
        }
    }
}

div#contact {
    h1 {
        text-transform: uppercase;
        font-size: 30px;

        span.first-word {
            color: $yellow;
        }
    }

    p {
        font-family: 'Rokkitt', serif;
        font-size: 18px;
    }

    ul {
        list-style: none;
        padding: 0px;
        margin: 0px;

        li {
            padding: 3px;

            a {
                color: #555;
            }
        }
    }
}

